.frame{ /*contorla el marco exterior*/
    width: 160px;
    height: 160px;
    border-radius: 6px;
    padding: 4px;
    background: linear-gradient(135deg,#4C1D95, #8B5CF6, #FFFFFF); /*degradados*/
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover; /*hace que la img cubra todo el espacio sin deformarse*/
    border-radius: 4px;
}